CompileFlags:
  Remove:
    - -mlongcalls
    - -mtext-section-literals
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
    - -fno-jump-tables
    - -mfix-esp32-psram-cache-issue
    - -mfix-esp32-psram-cache-strategy=*
Diagnostics:
  Suppress: '*'
